/* media-query */


@media screen and (max-width: 1024px) {
    body {
        width: 100%;
    }


    .playlist-bar a {
        line-height: 1rem;
    }

    .navbar span {
        font-size: 0.7rem;
    }

    .cards-container {
        justify-content: flex-start;
        flex-wrap: wrap;

    }

    .cards-container .cards {
        width: calc(100% / 4);
        padding: 1rem 0.5rem;

    }

    .cards-container .cards .hidden .hide {
        position: absolute;
        top: 3.5rem;
        right: 3.5rem;
    }

    .cards-container .cards .cards-text {
        font-size: 0.8rem;
        text-align: center;
        min-height: 3rem;
    }

    .cards-container .cards .cards-text p {
        font-size: 0.5rem;
        text-align: center;
    }


    .cards-container-created {
        width: 51.5%;

    }

    .cards-container-created .cards .hidden .hide {
        position: absolute;
        top: 3.5rem;
        right: 3.5rem;
    }


    .cards-container-artist {
        width: 51.5%;
    }

    .cards-container-artist .cards .hidden .hide {
        position: absolute;
        top: 3.5rem;
        right: 3.5rem;
    }

    /* footer */
    .footer-container .sx .icons {
        margin: 0 0.2rem;
    }

    .footer-container .dx .icons a {
        margin: 0 0.2rem;
    }

    .footer-container .dx .volume {
        width: 8rem;
    }

}




@media screen and (max-width: 768px) {
    body {
        width: 100%;
        background-color: blue;
    }

    .playlist-bar a {
        line-height: 1rem;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar span {
        font-size: 0.7rem;
        padding: 0.5rem 2.5rem;
    }

    .cards-container {
        justify-content: flex-start;
        flex-wrap: wrap;

    }

    .cards-container .cards {
        width: calc(100% / 2);
        padding: 1rem 0.5rem;

    }

    .cards-container .cards .cards-text {
        font-size: 0.8rem;
        text-align: center;
        min-height: 3rem;
    }

    .cards-container .cards .cards-text p {
        font-size: 0.5rem;
        text-align: center;
    }

    .cards-container .cards .hidden .hide {
        position: absolute;
        top: 5rem;
        right: 5.5rem;
    }

    .cards-container-created {
        width: 100%;

    }

    .cards-container-created .cards .hidden .hide {
        position: absolute;
        top: 5rem;
        right: 5.5rem;
    }



    .cards-container-artist {
        width: 100%;
    }

    .cards-container-artist .cards .hidden .hide {
        position: absolute;
        top: 5rem;
        right: 5.5rem;
    }

    /* footer */
    .footer-container .sx .icons {
        margin: 0 0.2rem;
    }

    .footer-container .dx .icons a {
        margin: 0 0.2rem;
    }

    .footer-container .dx .volume {
        width: 8rem;
    }

    .dx .icons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

}


@media screen and (max-width: 600px) {
    body {
        width: 100%;
        background-color: violet;
    }

    .playlist-bar a {
        line-height: 1rem;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar span {
        font-size: 0.7rem;
        padding: 0.5rem 0.5rem;
    }

    .cards-container {
        justify-content: flex-start;
        flex-wrap: wrap;

    }

    .cards-container .cards {
        width: calc(100% / 2);
        padding: 1rem 0.5rem;

    }

    .cards-container .cards .cards-text {
        font-size: 0.8rem;
        text-align: center;
        min-height: 3rem;
    }

    .cards-container .cards .cards-text p {
        font-size: 0.5rem;
        text-align: center;
    }

    .cards-container .cards .hidden .hide {
        position: absolute;
        top: 5rem;
        right: 5.5rem;
    }

    .cards-container-created {
        width: 100%;

    }

    .cards-container-created .cards .hidden .hide {
        position: absolute;
        top: 5rem;
        right: 5.5rem;
    }



    .cards-container-artist {
        width: 100%;
    }

    .cards-container-artist .cards .hidden .hide {
        position: absolute;
        top: 5rem;
        right: 5.5rem;
    }

    /* footer */
    .footer-container .sx .icons {
        margin: 0 0.2rem;
    }

    .footer-container .dx .icons a {
        margin: 0 0.2rem;
    }

    .footer-container .dx .volume {
        width: 8rem;
    }

    .footer-container .center .play span {
        padding: 0 0.6rem;
    }

    .dx .icons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

}


@media screen and (max-width: 480px) {
    body {
        background-color: red;
        width: 100%;
    }

    .sidebar {
        width: 4.5rem;
    }

    .sidebar .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar .navigation ul li a .none {
        display: none;
    }

    .playlist-bar {
        display: none;
    }


    .playlist-bar a {
        line-height: 1rem;
    }

    .spotify-account {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .account {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .spotify-account a .none {
        display: none;
    }

    .account .account-img {
        margin: 1rem 0.5rem;
    }

    .account .none {
        display: none;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar span {
        font-size: 0.7rem;
        padding: 0.5rem 0.5rem;
    }

    .cards-container {
        justify-content: flex-start;
        flex-wrap: wrap;

    }

    .cards-container .cards {
        width: calc(100% / 2);
        padding: 1rem 0.5rem;

    }

    .cards-container .cards .cards-text {
        font-size: 0.8rem;
        text-align: center;
        min-height: 3rem;
    }

    .cards-container .cards .cards-text p {
        font-size: 0.5rem;
        text-align: center;
    }

    .cards-container .cards .hidden .hide {
        position: absolute;
        top: 3.5rem;
        right: 4rem;
    }

    .cards-container-created {
        width: 100%;

    }

    .cards-container-created .cards .hidden .hide {
        position: absolute;
        top: 3.5rem;
        right: 4rem;
    }



    .cards-container-artist {
        width: 100%;
    }

    .cards-container-artist .cards .hidden .hide {
        position: absolute;
        top: 3.5rem;
        right: 4rem;
    }

    /* footer */

    .footer-container .sx .nome-brano h4 {
        font-size: 0.5rem;
    }

    .footer-container .sx .nome-brano p {
        font-size: 0.4rem;
    }

    .sx .picture-sx {
        width: 3rem;
        height: 2rem;
        margin: 0 0.5rem;
    }

    .footer-container .sx .icons {
        margin: 0 0.2rem;
    }

    .footer-container .dx .icons a {
        margin: 0 0.2rem;
    }

    .footer-container .dx .volume {
        width: 8rem;
    }

    .footer-container .center .play span {
        padding: 0 0.2rem;
    }

    .time .barra-musicale .tempo-ascolto {
        width: 0.2rem;
    }

    .footer-container .dx .volume {
        width: 2rem;
    }

    .footer-container .dx .volume .volume-high {
        width: 0.4rem;
    }

    .dx .icons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer-container .dx .volume .volume-high {
        padding: 0;
    }

}

@media screen and (max-width: 425px) {

    body {
        width: 100%;
    }

    .cards-container .cards .hidden .hide {
        position: absolute;
        top: 3rem;
        right: 3rem;
    }

    .cards-container-created {
        width: 100%;

    }

    .cards-container-created .cards .hidden .hide {
        position: absolute;
        top: 3rem;
        right: 3rem;
    }



    .cards-container-artist {
        width: 100%;
    }

    .cards-container-artist .cards .hidden .hide {
        position: absolute;
        top: 3rem;
        right: 3rem;
    }
}

@media screen and (max-width: 375px) {

    .cards-container .cards .hidden .hide {
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
    }

    .cards-container-created {
        width: 100%;

    }

    .cards-container-created .cards .hidden .hide {
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
    }



    .cards-container-artist {
        width: 100%;
    }

    .cards-container-artist .cards .hidden .hide {
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
    }

    @media screen and (max-width: 320px) {

        .cards-container .cards .hidden .hide {
            top: 1.5rem;
            right: 1.5rem;
        }

        .cards-container-created {
            width: 100%;

        }

        .cards-container-created .cards .hidden .hide {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
        }



        .cards-container-artist {
            width: 100%;
        }

        .cards-container-artist .cards .hidden .hide {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
        }
    }
}