* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    width: 100%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-self: center;
}










/* HEADER */


/* HEADER - HOME SEARCH LIBRERIA */
header {
    width: 16.5rem;
    height: 100vh;
}

.sidebar {
    width: 18rem;
    padding: 1rem;
    background-color: black;
    height: 100%;
}

.sidebar .logo img {
    width: 10rem;
}

.sidebar .navigation ul {
    list-style: none;
    margin-top: 0.5rem;
}

.sidebar .navigation ul li {
    padding: 0.5rem 0;
}

.sidebar .navigation ul li a {
    color: rgba(255, 255, 255, 0.700);
    text-decoration: none;
}

.sidebar .navigation ul li a:hover {
    color: white;
    padding-left: 0.5rem;
    border-left: 0.1rem solid rgb(173, 255, 47);
}










/* HEADER -PLAYLIST */

.playlist-bar .playlist-overflow {
    height: 15rem;
    overflow: auto;
}


.playlist-bar h3 {
    color: rgba(255, 255, 255, 0.700);
    padding: 1rem 0;
}

.playlist-bar a {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.700);
    text-decoration: none;
    line-height: 1rem;
    font-size: 0.8rem;
}

.add-playlist .fa-square-plus {
    display: flax;
    align-items: center;
    font-size: 2rem;
}

.add-playlist .title-playlist {
    font-size: 1rem;
    padding: 0.5rem;
}

.sidebar .playlist-bar .add-playlist a:hover {
    color: white;
    padding-left: 0.5rem;
    border-left: 0.1rem solid rgb(173, 255, 47);
}


.sidebar .playlist-bar ul li a:hover {
    color: white;
    padding-left: 0.5rem;
    border-left: 0.1rem solid rgb(173, 255, 47);
}










/* HEADER - ACCOUNT */


.sidebar .spotify-account {
    position: absolute;
    bottom: 50px;
    padding: 2rem 0;
    color: rgba(255, 255, 255, 0.700);
}

.sidebar .spotify-account a {
    color: rgba(255, 255, 255, 0.700);
    text-decoration: none;
}

.sidebar .spotify-account a:hover {
    color: white;
    padding-left: 0.5rem;
    border-left: 0.1rem solid rgb(173, 255, 47);
}

.spotify-account .account {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.700);
}

.spotify-account .account-img {
    width: 2rem;
    height: 2rem;
}

.spotify-account .account-img img {
    width: 100%;
    background-color: gray;
    border-radius: 100%;
}

.spotify-account .account span {
    padding: 1rem 0.5rem;
}











/* MAIN */



/* MAIN - UPGRADE */


main {
    background-color: rgb(20, 25, 34);
    height: 100vh;
    overflow-y: scroll;
    width: auto;
}

.upgrade {
    height: 5rem;
    background-color: rgb(8, 11, 18);
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.upgrade .upgrade-button {
    padding: 1rem;
}

.upgrade .upgrade-button button {
    padding: 0.8rem 2rem;
    border-radius: 5rem;
    color: white;
    background-color: rgb(8, 11, 18);
    border: 0.1rem solid white;

}











/* MAIN - NAVBAR */



.navbar {
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 25, 34);

}

.navbar span {
    color: rgba(255, 255, 255, 0.700);
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;

}

.navbar span:hover {
    color: white;
    border-bottom: 0.1rem solid rgb(173, 255, 47);

}










/* MAIN -CARDS */

/* ROW-RECENTLY */

.row-recently h2 {
    padding: 1rem;
    color: white;
}



.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem;
}

.cards-container .cards {
    width: calc(100% / 6);
    padding: 1rem 0.5rem;

}

.cards-container .cards .cards-image img {
    width: 100%;
}

.cards-container .cards .cards-text {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    min-height: 7rem;
}

.cards-container .cards .cards-text p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.700);
}

.cards-container .cards .cards-text h4 {
    color: white;
}

.cards-container .cards .cards-text h4:hover {
    color: rgb(173, 255, 47);
}

.cards-container .cards .hidden {
    position: relative;
}

.cards-container .cards .hidden .hide {
    position: absolute;
    top: 4rem;
    right: 4.5rem;
    font-size: 3rem;
    color: white;
    display: none;
}

.cards-container .hidden .cards-image:hover+.hide {
    display: block;
}






/* ROW-CREATED */

.row-created h2 {
    padding: 0.5rem 1rem;
    color: white;
}

.row-created p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.700);

}

.row-created p {
    padding: 0.5rem 1rem;
}

.cards-container-created {
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem;
}

.cards-container-created .cards {
    padding: 1rem 0.5rem;

}

.cards-container-created .cards .cards-image img {
    width: 100%;
}

.cards-container-created .cards .cards-text {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    min-height: 4.5rem;
}

.cards-container-created .cards .cards-text p {
    text-align: center;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.700);
}


.cards-container-created .cards .cards-text h4 {
    color: white;
    display: flex;
    text-align: center;
}


.cards-container-created .cards .cards-text h4:hover {
    color: rgb(173, 255, 47);
}


.cards-container-created .cards .hidden {
    position: relative;
}

.cards-container-created .cards .hidden .hide {
    position: absolute;
    top: 4rem;
    right: 4.5rem;
    font-size: 3rem;
    color: white;
    display: none;
}

.cards-container-created .hidden .cards-image:hover+.hide {
    display: block;
}
















/* ROW-POP-ARTIST */
.row-pop-artist h2 {
    padding: 0.5rem 1rem;
    color: white;
}

.row-pop-artist p {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.700);
}

.cards-container-artist {
    width: 34%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem;
    margin-bottom: 10rem;
}

.cards-container-artist .cards {
    padding: 1rem 0.5rem;

}

.cards-container-artist .cards .cards-image img {
    width: 100%;
    border-radius: 100%;
}

.cards-container-artist .cards .cards-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 4rem;
}

.cards-container-artist .cards .cards-text p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.700);
}


.cards-container-artist .cards .cards-text h4 {
    color: white;
}

.cards-container-artist .cards .cards-text h4:hover {
    color: rgb(173, 255, 47);
}

.cards-container-artist .cards .hidden {
    position: relative;
}

.cards-container-artist .cards .hidden .hide {
    position: absolute;
    top: 4rem;
    right: 4.5rem;
    font-size: 3rem;
    color: white;
    display: none;
}

.cards-container-artist .hidden .cards-image:hover+.hide {
    display: block;
}




/* FOOTER */


footer {
    height: 6rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}











/* FOOTER SX */


.footer-container .sx {
    height: 6rem;
    width: 33.33%;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sx .picture-sx {
    width: 3rem;
    height: 3rem;
    background-color: aquamarine;
    margin: 0 1rem;
}

.sx .picture-sx img {
    width: 100%;
}

.footer-container .sx .nome-brano {
    display: flex;
    flex-direction: column;
}

.footer-container .sx .nome-brano h4 {
    color: white;
}

.footer-container .sx .nome-brano p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.700);
}

.footer-container .sx .icons {
    margin: 0 3rem;
}

.footer-container .sx .icons span {
    padding: 0 0.3rem;
    color: rgba(255, 255, 255, 0.700);
}

.footer-container .sx .icons span:hover {
    color: rgb(173, 255, 47);
}










/* FOOTER CENTER */


.footer-container .center {
    height: 6rem;
    width: 33.33%;
    background-color: rgb(40, 40, 40);
}


.footer-container .center {
    height: 6rem;
}

.footer-container .center .play {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding-top: 1rem;

}

.footer-container .center .play span {
    color: rgba(255, 255, 255, 0.700);
    padding: 0 1rem;
}

.footer-container .center .play span:hover {
    color: white;
}

.footer-container .center .play .fa-circle-play {
    color: rgba(255, 255, 255, 0.700);
    font-size: 2rem;
}

.footer-container .center .time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;

}

.footer-container .center .time span {
    color: rgba(255, 255, 255, 0.700);
    font-size: 0.7rem;

}

.footer-container .center .time .barra-musicale {
    height: 0.3rem;
    width: 20rem;
    border-radius: 2rem;
    margin: 0 1rem;
    background-color: rgba(90, 90, 90);
}

.time .barra-musicale .tempo-ascolto {
    display: flex;
    justify-content: flex-start;
    height: 0.3rem;
    width: 4.5rem;
    background-color: rgba(255, 255, 255, 0.700);
    border-radius: 2rem;

}










/* FOOTER DX */


.footer-container .dx {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    width: 33.33%;
    background-color: rgb(40, 40, 40);
}

.footer-container .dx .volume {
    height: 0.3rem;
    width: 10rem;
    background-color: rgba(90, 90, 90);
    margin: 0.5rem 1rem;
    border-radius: 2rem;
}

.footer-container .dx .volume .volume-high {
    display: flex;
    justify-content: flex-start;
    height: 0.3rem;
    width: 2.5rem;
    background-color: rgba(255, 255, 255, 0.700);
    border-radius: 2rem;
}

.footer-container .dx .icons a {
    color: rgba(255, 255, 255, 0.700);
    margin: 0 0.4rem;
}

.footer-container .dx .icons a:hover {
    color: rgb(173, 255, 47);
}